
	<div class="container" >
		
		<form class="example-form">
  			<mat-form-field class="example-full-width" >
				<input name="inputField" class="searchText" type="text" matInput [formControl]="myControl"  [matAutocomplete]="auto" placeholder="Tippen Sie etwas ein... (z.B Milch)">
				<mat-autocomplete name="ACField" #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='addToList($event.option.value)'>
				  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
				    {{ option.name }}
				  </mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>
		<div class="listContainer" >
			<div class="listInfo">
				<h2><span style="color:#cc071e">REWE Regiemarkt GmbH</span></h2>
				<div class="moneyTotal">
					<h2>{{totalMoneyToPay()}} €</h2>
				</div> 
			</div>
			<h3 *ngIf="displayHelperMessage()" style="margin:auto;text-align:center">
				Ihre Einkaufsliste ist leer... 
			</h3>
			<ul *ngFor="let listElement of userShoppingListActive">
			    <li class="productElement" (click)="toggleElementStatus(listElement)">
			    	<div class="productImage">
			    		<img src={{showPictureUrl(listElement,160)}} >
			    	</div>
			    	<div class="productInfo">
			    		{{listElement.product.name}}
			    	</div>
			    	<div class="productQuantity">
			    		{{showAmount(listElement)}}
			    	</div>
			    	<div class="productPrice">
			    		{{showPrice(listElement)}} €
			    	</div>

			    </li>
			</ul>
			<hr class="listSeperator" *ngIf="displayHR()"/>
			<ul class="inactiveList" *ngFor="let listElement of userShoppingListInactive">
			    <li class="productElement" (click)="toggleElementStatus(listElement)">
			    	<div class="productImage">
			    		<img src={{listElement.product.pictureUrl}} >
			    	</div>
			    	<div class="productInfo">
			    		{{listElement.product.name}}
			    	</div>
			    	<div class="productQuantity">
			    		{{showAmount(listElement)}}
			    	</div>
			    	<div class="productPrice">
			    		{{showPrice(listElement)}} €
			    	</div>

			    </li>
			</ul>
		</div>
		
	</div>

